{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Capstone Project - Little Lemon</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1 style="text-align:center;">Welcome To Little Lemon Restaurant</h1>
        <img src="{% static 'restaurant/littlelemon.png' %}" alt="Little Lemon Logo" style="max-width: 300px; margin: 20px auto; display: block;">
        <p style="text-align:center;">Serving delicious food since day one.</p>
    </div>
</body>
</html>
